.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
  }
  #sect1 {  
   /*height: 650 px;  
    color: #fff;*/
    background-image: url("../../assets/images/image.png");  
    background-size: 100% 100% ;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}  

  /*body{
    background-image: url('img_girl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }*/

  .image{
    color: #fff;
    height:40em; background-size:cover; width:auto;
    background-image:url('../../assets/images/image.png');
    background-position:50% 50%;
  }